.OneTodo {
  width: 1000px;
  height: 20px;
  color: green;
  margin: 10px auto;
  text-align: center; 
  top: 40px;
  position: relative;
}

.noPointer {
  pointer-events: none;
  text-align: center;
  color: #3f51b5;
}

.shortBox {
  text-align: center;
  vertical-align: middle;
}

.longBox {
  display: table-cell;
  vertical-align: middle;
}

.hidden {
  display: none;
}
