.Trend {
  background-color: #F5F5F5;
}

.upper {
  display: flex;
  margin-top: 20px;
}

.IndustryChart {
  margin-left: 65px;
}

.FunnelChart {
  margin-left: 50px;
  margin-right: 50px;
}

.box {
  padding: 2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  background: #ffffff;
}
